.bg-calc {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;   
    background-color: lightseagreen;
    padding-top: 40px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1 {
    font-size: 22px;
    margin: 0;
}

.ext-calc {
    height: 430px;
    width: 320px;
    border-top: 20px solid whitesmoke;
    border-right: 15px solid lightslategray;
    border-left: 9px solid lightgray;
    border-bottom: 15px solid lightgray;
    box-shadow: 0 5px 8px 3px transparent;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

#body-calc {
    border: 1px solid #ccc;
    border-radius: 20px;
    transform: translate(-1%, -21%);
    width: 280px;
    height: 392px;
    position: absolute;
    display: block;
    padding-top: 30px;
    margin-top: 87px;
    margin-left: auto;
    margin-right: auto;
}

.screen-calc {
    width: 240px;
    font-size: 2rem;
    height: 60px;
    background-color: black;
    color: darkgrey;
    text-align: right;
    padding-right: 20px;
    border-top: 5px solid gray;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: auto;
}

button {
    height: 35px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-top: 3px solid lightgray;
    font-size: 25px;
    color: #333;
    background-image: linear-gradient( to top, lightslategray, transparent 80%, rgba(0, 0, 0, 0.03));
    list-style-type: none;
    text-align: center;
    box-shadow: 3px 4px lightgray;
    color: rgb(90, 88, 88);
    text-shadow: 1px 1px 4px white;
    padding-top: 5px;
}

button:hover {
    background-color: rgba(192, 192, 192, 0.3);
    border: lightgray;
    cursor: pointer;
    color: silver;
}

button:active {
    background-color: whitesmoke;
    box-shadow: 3px 5px lightgray;
    transform: translateY(2px);
    border: lightgray;
}

button {
    height: 35px;
    border: lightgray;
}

button:focus {
    outline: 0;
}

.equal-sign {
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}

.btn-calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px;
    padding: 18px;
}